{% extends "base.html" %}
{% block content %}
<div class="row">
    {% include "nav_bar.html" %}
        <!--David: This block contains the layer image an description tabs -->
        <div class="col-md-8">
          <div class="row">
            <div class="header">
              <h1> {{ layer.titre }} </h1> 
              <h4> Created by <a href="">{{ user }}</a> {{layerdatecreation}} </h4> 
            </div>
            <div class="hero-unit">
              <div id="map1">
              </div> <!-- /map -->
              <h1>Hello, world!</h1>
              <p>This is a template for a simple layer view. Here there will be an {{layer.image}} of the layer, a single preview created for the layer must show the layer with the symbols. The image must be scallable and must be adjusted at some dimensions</p>
            </div>
          </div><!-- /.row -->
        <!--David: This block contains the layer description tabs -->
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#description" data-toggle="tab">Description</a>
            </li>
            <li>
                <a href="#properties" data-toggle="tab">Properties</a>
            </li>
            <li>
              <a href="#contact_info" data-toggle="tab">Contact Info</a>
            </li>
            <li>
              <a href="#more_info" data-toggle="tab">More info</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="desription">
              <p>This block must contains the description of layers. For Django we will use a template layer_description with the elements</p>
              <h3>Layer Name:</h3>
              <p>{{ layer.titre }}</p>
              <h3>Layer Abstract:</h3>
              <p>{{ layer.abstract}}</p>
              <h3>Layer Type:</h3>
              <p>{{ layer.type }}</p>
            </div>
            <div class="tab-pane" id="properties">
               <p>This block must contains the properties of layers. For Django we will use a template layer_properties with the elements</p>
               <h3>Content of the Layer:</h3>
              <p>{ layercontenttype or tags } Forest</p>
              <h3>Geographical extension of the Layer:</h3>
              <p>{ layercoordinates in wgs84 } North Latitud: 44.44°</p>
              <p>{ layercoordinates in wgs84 } South Latitud: 33.33°</p>
              <p>{ layercoordinates in wgs84 } West Longitud: 00.00°</p>
              <p>{ layercoordinates in wgs84 } East Longitud: 02.08°</p>
              <h3>Legend:</h3>
              <img src="" />{ layer legend }
            </div>
            <div class="tab-pane" id="contact_info">
              <p>This block must contains the descrittion of owner of the layer. For Django we  will use a template layer_owner with the elements</p>
              <h3>Created by:</h3>
              <p>{user }</p>
              <h3>Date of creation:</h3>
              <P> {layerdatecreation}</p>
              <h3>Date of last modification:</h3>
              <P> { layerdatemodification }</p>
              <h3>ate of creation:</h3>
              <P> { layerdatecreation }</p>
              <h3>Phone number:</h3>
              <P> {user phone contact}</p>
              <h3>Adress:</h3>
              <P> {user adress}</p>
              <h3>City:</h3>
              <P> {user city}</p>
              <h3>ZIP code:</h3>
              <P> {user adress zip code}</p>
              <h3>Country:</h3>
              <P> {user country}</p>
              <h3>email:</h3>
              <P> {user email}</p>
            </div>
          </div><!-- /.tab-content -->
        </div><!-- /.span -->
        <!-- /END OF LAYER -->
      </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.row-->
<!-- Custom Javascript for maps -->
    <script src="{{ STATIC_URL }}js/leaflet/leaflet.js"></script><!-- To redistribute the footer -->
    <script type="text/javascript">
      var map1 = L.map('map1').setView([48.8629246, 2.3254306], 10);
      L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        }).addTo(map1);
    </script>
{% endblock %}