<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <title>Mapcake, cook your maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href=" {% static  "js/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href=" {% static "js/bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/mapcake.css" %}" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src= "{% static "js/bootstrap/js/bootstrap.min.js" %}"></script>
    <script>
    function connect()
    {
	    webmaster= moi;
	    xhr = new XMLHttpRequest();
      	xhr.open('POST', 'userena.signin');
        //Don't forget to add the csrftoken protection in the header
        xhr.setRequestHeader("X-CSRFToken",'{{csrf_token}}');
        //Prepare data to send if needed
        var data = new FormData();
            data.append('username', webmaster);
        //Send data
        xhr.send(data);
       }
    </script>

</head>
  <body>
    
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Mapcake</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Home</a>
              </li>
              <li class="">
                <a href="./layers.html">Layers</a>
              </li>
              <li class="">
                <a href="./maps.html">Maps</a>
              </li>
              <li class="">
                <a href="./atlases.html">Atlases</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well">
          <!-- REGISTRATION BLOCK FOR PUBLIC VIEW
          ================================================== -->
          <form class="form-login" method='post'>
            {% csrf_token %}
            <input type="text" class="input-block-level" placeholder="Username or email" required>
            <input type="password" class="input-block-level" placeholder="Password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <!--This button must redirect to a user account page if the authentication is ok-->
            <!-- <button class="btn .btn-mini btn-info" name="login" type="submit">Sign in</button>-->
            <button class="btn .btn-mini btn-info" name="signin" onclick="connect()">Sign in</button>
            
          </form>

          <form class="form-signin" method='post'>
          	{% csrf_token %}
            <h4 class="form-signin-heading">New on Mapcake? Sign up for free</h4>
            <input type="text" class="input-block-level" placeholder="Full name">
            <input type="text" class="input-block-level" placeholder="Email">
            <input type="password" class="input-block-level" placeholder="Password">
            <!--This button must redirect to a registration page with the content of the fields if the user tipe somme fileds-->
          <!--   <button class="btn .btn-mini btn-info" name="signin" type="submit">Sign up for Mapcake</button>-->
           <button class="btn .btn-mini btn-info" name="signin" onclick="connect()">Sign up for Mapcake</button>
          </form>
          </div><!-- /.well -->
        </div><!-- /.span -->
          <!-- This column must be list of last public layers added to the platform -->
        {% if latestSourceList %}
        	<div class="span9">
          		<div class="row-fluid">
        	    	{% for source in latestSourceList %}
        	        	<div class="span10">
              				<div class="layer">
                				<img class="layer-image pull-left" src="{% static "img/Globe-icon-128.png" %}><!-- This element must be and image of the layer, we can create this and save some place, or in the database. The dimensions are to define-->
               	 				<h2 class="layer-heading">
               	 				<a href="./{{source.id}}">{{ source.titre }}</a>
               	 				<span class="muted">Created by {{username}} {{date}}</span></h2>
                				<p class="lead">{{source.abstract}}</p>
              				</div>
              				<hr class="layer-divider">
            			</div>
        	    	{% endfor %}
        		</div>
        	</div>
        {% endif %}
        
        
        </div><!-- /.span -->
      </div><!-- /.row -->

        <div class="container">
        <!-- FOOTER -->
          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2013 Mapcake, Org. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

    </div><!-- /.container -->
  </body>
</html>