<html>

	<h1>Nouvelle couche</h1>
	<body onload = 'javascript:Affiche();'>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<!-- TODO 
		utiliser les forms from models:
		https://docs.djangoproject.com/en/1.2/topics/forms/modelforms/
		  -->
		<form method = 'post' action ="/layers/add">
			{% csrf_token %}
			<table>
		 		{{formLayer.as_table}}
			</table>
			<input type="submit" value="Enregistrer"/>
		</form>
		<div id="map" style="width:512px; height:256px;"/>
	</body>
</html>